@font-face {
    font-family: "Sansita One";
    src: url("../../fonts/SansitaOne.eot") format("eot"),url("../../fonts/SansitaOne.woff") format("woff"),url("../../fonts/SansitaOne.ttf") format("truetype"),url("../../fonts/SansitaOne.svg#SansitaOne") format("svg");
    font-weight: normal;
    font-style: normal;
}

.header {
    font-family: "Sansita One", sans-serif;
    color: #f43543;
    text-align: center;
    font-size: 23px;
    letter-spacing: 2px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #5d6462;
}

.intro {
    margin: 35px 0px;
    width: 100%;
    height: 325px;
}

.intro #container {
    width: 430px;
    height: 274px;
    position: relative;
}

.intro .laptop {
    width: 575px;
    height: 350px;
    margin-left: 75px;
}

.intro #container .cursor {
    width: 50px;
    position: absolute;
}

.intro #container .pencil {
    width: 40px;
    position: absolute;
}

.intro #container .chatbox {
    position: absolute;
    width: 100px;
    left: 320px;
    top: 130px;
}

.intro p {
    padding-top: 55px;
    left: 760px;
    bottom: 100px;
}

.pitch {
    height: 300px;
}

.pitch p {
    padding-top: 55px;
    text-align: right;
}

.pitch .image-group {
    width: 40%;
}

.pitch .image-group .logo {
    width: 100px;
    height: 100px;
}

.pitch .image-group .plus {
    width: 100px;
    height: 100px;
    left: 140px;
    top: 90px;
}

.pitch .image-group .surfly-logo {
    height: 80px;
    left: 240px;
    top: 190px;
}

.dashboard {
    display: flex;
    justify-content: space-around;
}

.dashboard .gif {
    height: 315px;
    width: 500px;
}

.dashboard p {
    padding-top: 75px;
}

.usage {
    margin: 35px 0px 50px 0px;
}

.usage p {
    text-align: right;
    padding-top: 68px;
}

.conclusion p {
    width: 85%;
    text-align: center;
    padding: auto;
    margin: auto;
}

.closing {
    margin: 50px;
}

.closing p {
    font-size: 24px;
}

.closing .consultant-name {
    font-family: "Sansita One", sans-serif;
    color: #f43543;
    font-size: 33px;
    text-align: center;
    margin-top: 75px;
    letter-spacing: 1px;
}

.closing .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 350px;
    right: 0;
}

.calendly {
    margin: 125px 0px 25px 0px;
    position: relative;
}

.calendly p {
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.calendly-inline-widget iframe {
    overflow: hidden;
}

.updated {
    font-size: 20px;
    text-align: center;
    color: #5d6462;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 17px;
        text-align: center;
    }

    .header {
        padding-top: 35px;
    }

    .header h1 {
        font-size: 30px;
    }

    .intro {
        height: 185px;
    }

    .intro .laptop {
        width: 365px;
        height: 217px;
        margin: 0px -13px;
    }

    .intro #container {
        width: 275px;
        height: 170px;
        margin-top: -205px;
        margin-left: 32px;
    }

    .intro #container .chatbox {
        width: 75px;
        margin-left: -130px;
        margin-top: -60px;
    }

    .intro #container .cursor {
        width: 40px;
    }

    .intro #container .pencil {
        width: 30px;
    }

    .pitch p {
        padding-top: 338px;
        text-align: center;
    }

    .pitch .image-group {
        margin-top: -438px;
    }

    .pitch .image-group .logo {
        height: 85px;
    }

    .pitch .image-group .plus {
        top: -62px;
        height: 86px;
    }

    .pitch .image-group .surfly-logo {
        top: -98px;
        height: 54px;
    }

    .dashboard .gif {
        height: 215px;
        width: 400px;
        margin-top: 360px;
    }

    .dashboard p {
        padding-top: 28px;
    }

    .usage p {
        text-align: center;
        padding-top:  230px;
    }

    .usage iframe {
        margin-top: -481px;
        height: 230px;
    }

    .conclusion p {
        margin-top: -25px;
    }
    .closing p {
        font-size: 22px;
    }

    .closing .consultant-name {
        margin-left: 20px;
    }

    .closing .avatar {
        margin-top: 50px;
        margin-left: -115px;
    }

    .calendly {
        margin-top: 70px;
    }
}
